{
  "smithy": "2.0",
  "metadata": {
    "generatedBy": "@effect-zfs/codegen",
    "upstream": "/Users/af/effect-lab/effect-zfs-v0/vendor/openzfs",
    "note": "Normalized OpenZFS model. Custom effect.zfs traits are consumed by effect-zfs codegen."
  },
  "shapes": {
    "effect.zfs#DatasetProperty_redundant_metadata": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "MOST": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "most"
          }
        },
        "SOME": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "some"
          }
        },
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "redundant_metadata",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZFS_REDUNDANT_METADATA_ALL",
          "valuesText": "all | most | some | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_sync": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "DISABLED": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "sync",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZFS_SYNC_STANDARD",
          "valuesText": "standard | always | disabled",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_checksum": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "FLETCHER2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "fletcher2"
          }
        },
        "FLETCHER4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "fletcher4"
          }
        },
        "SHA256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sha256"
          }
        },
        "NOPARITY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "noparity"
          }
        },
        "SHA512": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sha512"
          }
        },
        "SKEIN": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "skein"
          }
        },
        "EDONR": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "edonr"
          }
        },
        "BLAKE3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "blake3"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "checksum",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZIO_CHECKSUM_DEFAULT",
          "valuesText": "on | off | fletcher2 | fletcher4 | sha256 | sha512 | skein | edonr | blake3",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_dedup": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "VERIFY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "verify"
          }
        },
        "SHA256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sha256"
          }
        },
        "SHA256_VERIFY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sha256,verify"
          }
        },
        "SHA512": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sha512"
          }
        },
        "SHA512_VERIFY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sha512,verify"
          }
        },
        "SKEIN": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "skein"
          }
        },
        "SKEIN_VERIFY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "skein,verify"
          }
        },
        "EDONR_VERIFY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "edonr,verify"
          }
        },
        "BLAKE3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "blake3"
          }
        },
        "BLAKE3_VERIFY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "blake3,verify"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "dedup",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZIO_CHECKSUM_OFF",
          "valuesText": "on | off | verify | sha256[,verify] | sha512[,verify] | skein[,verify] | edonr,verify | blake3[,verify]",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_compression": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "LZJB": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "lzjb"
          }
        },
        "GZIP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "GZIP_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-1"
          }
        },
        "GZIP_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-2"
          }
        },
        "GZIP_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-3"
          }
        },
        "GZIP_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-4"
          }
        },
        "GZIP_5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-5"
          }
        },
        "GZIP_6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-6"
          }
        },
        "GZIP_7": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-7"
          }
        },
        "GZIP_8": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-8"
          }
        },
        "GZIP_9": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "gzip-9"
          }
        },
        "ZLE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zle"
          }
        },
        "LZ4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "lz4"
          }
        },
        "ZSTD": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd"
          }
        },
        "ZSTD_FAST": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast"
          }
        },
        "ZSTD_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-1"
          }
        },
        "ZSTD_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-2"
          }
        },
        "ZSTD_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-3"
          }
        },
        "ZSTD_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-4"
          }
        },
        "ZSTD_5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-5"
          }
        },
        "ZSTD_6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-6"
          }
        },
        "ZSTD_7": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-7"
          }
        },
        "ZSTD_8": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-8"
          }
        },
        "ZSTD_9": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-9"
          }
        },
        "ZSTD_10": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-10"
          }
        },
        "ZSTD_11": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-11"
          }
        },
        "ZSTD_12": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-12"
          }
        },
        "ZSTD_13": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-13"
          }
        },
        "ZSTD_14": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-14"
          }
        },
        "ZSTD_15": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-15"
          }
        },
        "ZSTD_16": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-16"
          }
        },
        "ZSTD_17": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-17"
          }
        },
        "ZSTD_18": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-18"
          }
        },
        "ZSTD_19": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-19"
          }
        },
        "ZSTD_FAST_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-1"
          }
        },
        "ZSTD_FAST_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-2"
          }
        },
        "ZSTD_FAST_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-3"
          }
        },
        "ZSTD_FAST_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-4"
          }
        },
        "ZSTD_FAST_5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-5"
          }
        },
        "ZSTD_FAST_6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-6"
          }
        },
        "ZSTD_FAST_7": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-7"
          }
        },
        "ZSTD_FAST_8": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-8"
          }
        },
        "ZSTD_FAST_9": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-9"
          }
        },
        "ZSTD_FAST_10": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-10"
          }
        },
        "ZSTD_FAST_20": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-20"
          }
        },
        "ZSTD_FAST_30": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-30"
          }
        },
        "ZSTD_FAST_40": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-40"
          }
        },
        "ZSTD_FAST_50": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-50"
          }
        },
        "ZSTD_FAST_60": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-60"
          }
        },
        "ZSTD_FAST_70": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-70"
          }
        },
        "ZSTD_FAST_80": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-80"
          }
        },
        "ZSTD_FAST_90": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-90"
          }
        },
        "ZSTD_FAST_100": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-100"
          }
        },
        "ZSTD_FAST_500": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-500"
          }
        },
        "ZSTD_FAST_1000": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "zstd-fast-1000"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "compression",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZIO_COMPRESS_DEFAULT",
          "valuesText": "on | off | lzjb | gzip | gzip-[1-9] | zle | lz4 | zstd | zstd-[1-19] | zstd-fast | zstd-fast-[1-10,20,30,40,50,60,70,80,90,100,500,1000]",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_snapdir": {
      "type": "enum",
      "members": {
        "HIDDEN": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "hidden"
          }
        },
        "VISIBLE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "visible"
          }
        },
        "DISABLED": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "snapdir",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "enum",
          "default": "ZFS_SNAPDIR_HIDDEN",
          "valuesText": "disabled | hidden | visible",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_snapdev": {
      "type": "enum",
      "members": {
        "HIDDEN": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "hidden"
          }
        },
        "VISIBLE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "visible"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "snapdev",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZFS_SNAPDEV_HIDDEN",
          "valuesText": "hidden | visible",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_aclmode": {
      "type": "enum",
      "members": {
        "DISCARD": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "discard"
          }
        },
        "GROUPMASK": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "groupmask"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "passthrough"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "aclmode",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "enum",
          "default": "ZFS_ACL_DISCARD",
          "valuesText": "discard | groupmask | passthrough | restricted",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_aclinherit": {
      "type": "enum",
      "members": {
        "DISCARD": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "discard"
          }
        },
        "NOALLOW": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "noallow"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "passthrough"
          }
        },
        "SECURE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "secure"
          }
        },
        "PASSTHROUGH_X": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "passthrough-x"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "aclinherit",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "enum",
          "default": "ZFS_ACL_RESTRICTED",
          "valuesText": "discard | noallow | restricted | passthrough | passthrough-x",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_copies": {
      "type": "enum",
      "members": {
        "1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "2"
          }
        },
        "3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "3"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "copies",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "1",
          "valuesText": "1 | 2 | 3",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_primarycache": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "METADATA": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "metadata"
          }
        },
        "ALL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "primarycache",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "enum",
          "default": "ZFS_CACHE_ALL",
          "valuesText": "all | none | metadata",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_secondarycache": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "METADATA": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "metadata"
          }
        },
        "ALL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "secondarycache",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "enum",
          "default": "ZFS_CACHE_ALL",
          "valuesText": "all | none | metadata",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_prefetch": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "METADATA": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "metadata"
          }
        },
        "ALL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "prefetch",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "enum",
          "default": "ZFS_PREFETCH_ALL",
          "valuesText": "none | metadata | all",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_logbias": {
      "type": "enum",
      "members": {
        "LATENCY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "latency"
          }
        },
        "THROUGHPUT": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "throughput"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "logbias",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZFS_LOGBIAS_LATENCY",
          "valuesText": "latency | throughput",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_xattr": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "SA": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sa"
          }
        },
        "ON": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "DIR": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "dir"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "xattr",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "enum",
          "default": "ZFS_XATTR_SA",
          "valuesText": "on | off | dir | sa",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_dnodesize": {
      "type": "enum",
      "members": {
        "LEGACY": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "legacy"
          }
        },
        "AUTO": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "1K": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "1k"
          }
        },
        "2K": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "2k"
          }
        },
        "4K": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "4k"
          }
        },
        "8K": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "8k"
          }
        },
        "16K": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "16k"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "dnodesize",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "enum",
          "default": "ZFS_DNSIZE_LEGACY",
          "valuesText": "legacy | auto | 1k | 2k | 4k | 8k | 16k",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_volmode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "FULL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "GEOM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "geom"
          }
        },
        "DEV": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "dev"
          }
        },
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "volmode",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZFS_VOLMODE_DEFAULT",
          "valuesText": "default | full | geom | dev | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_direct": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "STANDARD": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "direct",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "enum",
          "default": "ZFS_DIRECT_STANDARD",
          "valuesText": "disabled | standard | always",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_atime": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "atime",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "boolean",
          "default": "1",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_devices": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "devices",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "boolean",
          "default": "1",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_exec": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "exec",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "boolean",
          "default": "1",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_setuid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "setuid",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "boolean",
          "default": "1",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_readonly": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "readonly",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_jailed": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "jailed",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_zoned": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "zoned",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_zoned_uid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "zoned_uid",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<uid> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_vscan": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "vscan",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_nbmand": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "nbmand",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_overlay": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "overlay",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "boolean",
          "default": "1",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_version": {
      "type": "enum",
      "members": {
        "1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "2"
          }
        },
        "3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "3"
          }
        },
        "4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "4"
          }
        },
        "5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "5"
          }
        },
        "CURRENT": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "current"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "version",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "enum",
          "default": "0",
          "valuesText": "1 | 2 | 3 | 4 | 5 | current",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_canmount": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "ON": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "NOAUTO": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "noauto"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "canmount",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem"
          ],
          "codec": "enum",
          "default": "ZFS_CANMOUNT_ON",
          "valuesText": "on | off | noauto",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_mounted": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "mounted",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "yes | no",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defer_destroy": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defer_destroy",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "snapshot"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "yes | no",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_keystatus": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "keystatus",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "enum",
          "default": "ZFS_KEYSTATUS_NONE",
          "valuesText": "none | unavailable | available",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_normalization": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "FORMD": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "formD"
          }
        },
        "FORMKC": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "formKC"
          }
        },
        "FORMC": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "formC"
          }
        },
        "FORMKD": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "formKD"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "normalization",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "enum",
          "default": "0",
          "valuesText": "none | formC | formD | formKC | formKD",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_casesensitivity": {
      "type": "enum",
      "members": {
        "SENSITIVE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "INSENSITIVE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "insensitive"
          }
        },
        "MIXED": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "mixed"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "casesensitivity",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "enum",
          "default": "ZFS_CASE_SENSITIVE",
          "valuesText": "sensitive | insensitive | mixed",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_keyformat": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "RAW": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "raw"
          }
        },
        "HEX": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "hex"
          }
        },
        "PASSPHRASE": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "passphrase"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "keyformat",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "enum",
          "default": "ZFS_KEYFORMAT_NONE",
          "valuesText": "none | raw | hex | passphrase",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_encryption": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AES_128_CCM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "aes-128-ccm"
          }
        },
        "AES_192_CCM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "aes-192-ccm"
          }
        },
        "AES_256_CCM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "aes-256-ccm"
          }
        },
        "AES_128_GCM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "aes-128-gcm"
          }
        },
        "AES_192_GCM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "aes-192-gcm"
          }
        },
        "AES_256_GCM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#enumValue": "aes-256-gcm"
          }
        }
      },
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "encryption",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "enum",
          "default": "ZIO_CRYPT_DEFAULT",
          "valuesText": "on | off | aes-128-ccm | aes-192-ccm | aes-256-ccm | aes-128-gcm | aes-192-gcm | aes-256-gcm",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_utf8only": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "utf8only",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_origin": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "origin",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<snapshot>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_clones": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "clones",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "snapshot"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<dataset>[,...]",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_mountpoint": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "mountpoint",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "string",
          "default": "/",
          "valuesText": "<path> | legacy | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_sharenfs": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "sharenfs",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "string",
          "default": "off",
          "valuesText": "on | off | NFS share options",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_type": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "type",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "filesystem | volume | snapshot | bookmark",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_sharesmb": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "sharesmb",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "string",
          "default": "off",
          "valuesText": "on | off | SMB share options",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_mlslabel": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "mlslabel",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "ZFS_MLSLABEL_DEFAULT",
          "valuesText": "<sensitivity label>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_context": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "context",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "none",
          "valuesText": "<selinux context>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_fscontext": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "fscontext",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "none",
          "valuesText": "<selinux fscontext>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defcontext": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defcontext",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "none",
          "valuesText": "<selinux defcontext>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_rootcontext": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "rootcontext",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "none",
          "valuesText": "<selinux rootcontext>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_receive_resume_token": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "receive_resume_token",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<string token>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_encryptionroot": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "encryptionroot",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<filesystem | volume>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_keylocation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "keylocation",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "string",
          "default": "none",
          "valuesText": "prompt | <file URI> | <https URL> | <http URL>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_redact_snaps": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "redact_snaps",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<snapshot>[,...]",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_used": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "used",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_available": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "available",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_referenced": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "referenced",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_compressratio": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "compressratio",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<1.00x or higher if compressed>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_refcompressratio": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "refcompressratio",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<1.00x or higher if compressed>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_volblocksize": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "volblocksize",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "volume"
          ],
          "codec": "bigint",
          "default": "ZVOL_DEFAULT_BLOCKSIZE",
          "valuesText": "512 to 16M, power of 2",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_volthreading": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "volthreading",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "volume"
          ],
          "codec": "boolean",
          "default": "1",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_usedbysnapshots": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "usedbysnapshots",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_usedbydataset": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "usedbydataset",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_usedbychildren": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "usedbychildren",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_usedbyrefreservation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "usedbyrefreservation",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_userrefs": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "userrefs",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "snapshot"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<count>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_written": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "written",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_logicalused": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "logicalused",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_logicalreferenced": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "logicalreferenced",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_filesystem_count": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "filesystem_count",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem"
          ],
          "codec": "bigint",
          "default": "UINT64_MAX",
          "valuesText": "<count>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_snapshot_count": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "snapshot_count",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bigint",
          "default": "UINT64_MAX",
          "valuesText": "<count>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_guid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "guid",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<uint64>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_createtxg": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "createtxg",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<uint64>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_pbkdf2iters": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "pbkdf2iters",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<iters>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_objsetid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "objsetid",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<uint64>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_quota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "quota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_reservation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "reservation",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_volsize": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "volsize",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "volume",
            "snapshot"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_refquota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "refquota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_refreservation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "refreservation",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_filesystem_limit": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "filesystem_limit",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem"
          ],
          "codec": "bigint",
          "default": "UINT64_MAX",
          "valuesText": "<count> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_snapshot_limit": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "snapshot_limit",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bigint",
          "default": "UINT64_MAX",
          "valuesText": "<count> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defaultuserquota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defaultuserquota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defaultgroupquota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defaultgroupquota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defaultprojectquota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defaultprojectquota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defaultuserobjquota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defaultuserobjquota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defaultgroupobjquota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defaultgroupobjquota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_defaultprojectobjquota": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "defaultprojectobjquota",
          "scope": "dataset",
          "access": "mutable",
          "targets": [
            "filesystem",
            "snapshot"
          ],
          "codec": "bytesOrNone",
          "default": "0",
          "valuesText": "<size> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_recordsize": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "recordsize",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "bytes",
          "default": "SPA_OLD_MAXBLOCKSIZE",
          "valuesText": "512 to 16M, power of 2",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_special_small_blocks": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "special_small_blocks",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "0 to 16M",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_numclones": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "numclones",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "snapshot"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "NUMCLONES",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_name": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "name",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "string",
          "default": "PROP_TYPE_STRING",
          "valuesText": "NAME",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_iscsioptions": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "iscsioptions",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "volume"
          ],
          "codec": "string",
          "default": "PROP_TYPE_STRING",
          "valuesText": "ISCSIOPTIONS",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_stmf_sbd_lu": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "stmf_sbd_lu",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "volume"
          ],
          "codec": "string",
          "default": "PROP_TYPE_STRING",
          "valuesText": "STMF_SBD_LU",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_useraccounting": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "useraccounting",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "USERACCOUNTING",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_unique": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "unique",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "UNIQUE",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_inconsistent": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "inconsistent",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "INCONSISTENT",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_ivsetguid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "ivsetguid",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "IVSETGUID",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_prevsnap": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "prevsnap",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "string",
          "default": "PROP_TYPE_STRING",
          "valuesText": "PREVSNAP",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_pbkdf2salt": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "pbkdf2salt",
          "scope": "dataset",
          "access": "setOnce",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "PBKDF2SALT",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_keyguid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "keyguid",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "KEYGUID",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_redacted": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "redacted",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "REDACTED",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_remaptxg": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "remaptxg",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot"
          ],
          "codec": "string",
          "default": "PROP_TYPE_NUMBER",
          "valuesText": "REMAPTXG",
          "hidden": true
        }
      }
    },
    "effect.zfs#DatasetProperty_creation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "creation",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume",
            "snapshot",
            "bookmark"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<date>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_snapshots_changed": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "snapshots_changed",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<date>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_snapshots_changed_nsecs": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "snapshots_changed_nsecs",
          "scope": "dataset",
          "access": "readonly",
          "targets": [
            "filesystem",
            "volume"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<nsec>",
          "hidden": false
        }
      }
    },
    "effect.zfs#DatasetProperty_longname": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "longname",
          "scope": "dataset",
          "access": "inheritable",
          "targets": [
            "filesystem"
          ],
          "codec": "boolean",
          "default": "0",
          "valuesText": "on | off",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_altroot": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "altroot",
          "scope": "pool",
          "access": "mutable",
          "targets": [
            "pool"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<path>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_bootfs": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "bootfs",
          "scope": "pool",
          "access": "mutable",
          "targets": [
            "pool"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<filesystem>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_cachefile": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "cachefile",
          "scope": "pool",
          "access": "mutable",
          "targets": [
            "pool"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<file> | none",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_comment": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "comment",
          "scope": "pool",
          "access": "mutable",
          "targets": [
            "pool"
          ],
          "codec": "string",
          "default": null,
          "valuesText": "<comment-string>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_compatibility": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "compatibility",
          "scope": "pool",
          "access": "mutable",
          "targets": [
            "pool"
          ],
          "codec": "string",
          "default": "off",
          "valuesText": "<file[,file...]> | off | legacy",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_size": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "size",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_free": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "free",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_freeing": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "freeing",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_checkpoint": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "checkpoint",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_leaked": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "leaked",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_allocated": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "allocated",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_expandsize": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "expandsize",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_fragmentation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "fragmentation",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_capacity": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "capacity",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_guid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "guid",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<guid>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_load_guid": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "load_guid",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<load_guid>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_health": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "health",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<state>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_dedupratio": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "dedupratio",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<1.00x or higher if deduped>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_dedupused": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "dedupused",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_dedupsaved": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "dedupsaved",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_bcloneused": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "bcloneused",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_bclonesaved": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "bclonesaved",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_bcloneratio": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "bcloneratio",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<1.00x or higher if cloned>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_dedup_table_size": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "dedup_table_size",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_last_scrubbed_txg": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "last_scrubbed_txg",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bigint",
          "default": "0",
          "valuesText": "<txg>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_available": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "available",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_usable": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "usable",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_used": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "used",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_size": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_size",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_capacity": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_capacity",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_free": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_free",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_allocated": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_allocated",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_available": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_available",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_usable": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_usable",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_used": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_used",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_expandsize": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_expandsize",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_normal_fragmentation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_normal_fragmentation",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_size": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_size",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_capacity": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_capacity",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_free": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_free",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_allocated": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_allocated",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_available": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_available",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_usable": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_usable",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_used": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_used",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_expandsize": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_expandsize",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_special_fragmentation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_special_fragmentation",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_size": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_size",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_capacity": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_capacity",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_free": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_free",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_allocated": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_allocated",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_available": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_available",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_usable": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_usable",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_used": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_used",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_expandsize": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_expandsize",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_dedup_fragmentation": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_dedup_fragmentation",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_log_size": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_log_size",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "bytes",
          "default": "0",
          "valuesText": "<size>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_log_capacity": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_log_capacity",
          "scope": "pool",
          "access": "readonly",
          "targets": [
            "pool"
          ],
          "codec": "integer",
          "default": "0",
          "valuesText": "<percent>",
          "hidden": false
        }
      }
    },
    "effect.zfs#PoolProperty_class_log_free": {
      "type": "string",
      "traits": {
        "effect.zfs#zfsProperty": {
          "name": "class_log_free",
[...]
